numpy 
scipy
plotly
matplotlib
opencv-python
notebook
jupyter
pandas			# required package for plotly
Pillow
msicpe
imicpe

## info graphique
libigl

## optim
tqdm

## TP tomo
#itk
#itk-rtk>=2.4.1		#ERROR: Could not find a version that satisfies the requirement itk-rtk>=2.4.1 (from versions: 2.0.1)

## TP DL/ML
scikit-image 
scikit-learn
h5py
torch
torchvision

## TP Reco3D
#PyMCubes

## Compression
PyWavelets # import pywt